{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-invalid-position-at-import-rule":null,
    "declaration-colon-newline-after":null,
    "no-irregular-whitespace":null,
    "no-eol-whitespace":null,
    "length-zero-no-unit": null
  }
  
}