.mainContent {
  background-color: white;

  .enableAlgo {
    color: #05da05;
    padding: 6px;
    border: 1px solid #97d8f7;
    width: 73px;
    text-align: center;
  }

  .disableAlgo {
    color: rgb(106, 165, 241);
    padding: 6px;
    border: 1px solid #97d8f7;
    width: 73px;
    text-align: center;
  }

  .objectDetect {
    color: blue;
  }

  .classification {
    color: green;
  }

  .runningBlock {
    display: flex;

    .container {
      position: relative;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;

      .circle {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: green;
        width: 10px;
        height: 10px;
        border-radius: 25px;
      }
    }

    .running {
      margin-left: 5px;
      color: green;
    }
  }

  .disabledBlock {
    display: flex;

    .container {
      position: relative;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;

      .circle {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #7b757f;
        width: 10px;
        height: 10px;
        border-radius: 25px;
      }
    }

    .running {
      margin-left: 5px;
      color: #7b757f;
    }
  }

  .other {
    color: grey;
  }

  .desc {
    width: 10%;
  }
}

.BreadcrumbPart {
  padding: 10px;
}

.delInfo {
  margin-left: 5px;
}

.btnLayer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.addBtn {
  margin: 15px;
}

.tableLayer {
  margin: 0 15px;

  .addBtnLayer {
    display: flex;
    justify-content: flex-end;

    .btnStyle {
      margin: 5px;
    }
  }
}
