.mainContent {
  background-color: white;

  .enableAlgo {
    color: rgb(5, 218, 5);
    padding: 2px;
    border: 1px solid rgb(151, 216, 247);
  }

  .disableAlgo {
    border: 1px solid grey;
  }

  .objectDetect {
    color: blue;
  }

  .classification {
    color: green;
  }

  .other {
    color: grey;
  }

  .desc {
    width: 10%;
  }
}

.BreadcrumbPart {
  padding: 10px;
}

.delInfo {
  margin-left: 5px;
}

.btnLayer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.addBtn {
  margin: 15px;
}

.tableLayer {
  margin: 0 15px;
}
