.mainContent {
  background-color: white;
}

.BreadcrumbPart {
  padding: 10px;
}

.delInfo {
  margin-left: 5px;
}

.btnLayer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.addBtn {
  margin: 15px;
}

.tableLayer {
  margin: 0 15px;
}
