:root {
  --color-black: rgb(0, 0, 0);
}
//todo
//1。 图片压缩，base64编码和雪碧图
@font-face {
  font-family: "frankfont";
  src:
    url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
