.dashboard {
  background-color: white;

  .BreadcrumbPart {
    padding: 10px;
  }
  
  .filterBlock {
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
  }

  .selectTimeText {
    margin-right:10px
  }
  .filterblock:not(:first-child){
    margin-left:10px;
  }

}

.imagesPart {
  margin: 20px 30px;
}

.rightPosition {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
