.dashboard {
  background-color: white;

  .BreadcrumbPart {
    padding: 10px;
  }

  .filterBlock {
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
  }

  .selectTimeText {
    margin-right: 10px;
  }
}

.filterblock:not(:first-child) {
  margin-left: 10px;
}

.takeColor {
  // border: 1px solid red;
  // color: red;
  -webkit-box-shadow: 6px 6px 8px 0px rgba(208, 59, 86, 1);
  -moz-box-shadow: 6px 6px 8px 0px rgba(208, 59, 86, 1);
  box-shadow: 6px 6px 8px 0px rgba(208, 59, 86, 1);
  border-radius: 4px;
}

.freeColor {
  margin-left: 10px;
  -webkit-box-shadow: 6px 6px 8px 0px rgba(0, 184, 255, 0.58);
  -moz-box-shadow: 6px 6px 8px 0px rgba(0, 184, 255, 0.58);
  box-shadow: 6px 6px 8px 0px rgba(0, 184, 255, 0.58);
  border-radius: 4px;
}

.imagesPart {
  margin: 20px 30px;
}

.rightPosition {
  display: flex;
  justify-content: flex-end;
  padding: 15px;

  .downoutline {
    border: 1px solid grey;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 10px;
  }
}
