h2{
    color: red;
}
.flexContent{
    display: flex;
}
.block{
    border:1px solid black;
    background-color: green;
    margin: 10px;
    padding: 10px;
    color: white;
}
.hello{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}