@import "./common.scss";
$blue : blue;

.hello {
  font-family: frankfont Monaco Arial, Verdana, Tahoma, sans-serif;
  font-size: 20px;
  width: 300px;
  font-weight: bold;
  color: var(--color-black);
  background: rgba(153, 221, 153, 0.8);
}

.myblurfont {
  height: 20px;
  width: 100px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid red;
  color: red;
}

.myblurfont:hover {
  filter: blur(4px);
}

.myfont {
  color: red;
  font-variant-caps: small-caps;
}

.flexContent {
  display: flex;
  justify-content: flex-start;

  .block {
    user-select: none;
    border: 1px solid black;
    background-color: darkgoldenrod;
    margin: 15px 10px 10px 0;
    padding: 10px;
    color: aliceblue;

    &:hover {
      background-color: greenyellow;
      color: black;
    }
  }
}

.css3features {
  display: flex;
  justify-content: flex-start;

  .frankDemo {
    border: 1px solid black;
    //background-color: lightgreen;
    margin: 15px 10px 10px 0;
    padding: 10px;
    color: rebeccapurple;
    width: 300px;
    height: 400px;
    background-image: url("../images/2.jpeg");
  }
}
